.contact-window {
  position: fixed;
  right: 40px;
  bottom: 20px;
  padding: 13.5px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-content {
display: flex;
align-items: center;
gap: 10px;
}

.contact-status-text {
  color: #fff;
  margin-left: 5px;
}

.contact-content .btn {
  margin-left: 20px;
}

.contact-close,
.contact-open {
  position: absolute;
  background: none;
  border: none;
  right: 8px;
  top: 4px;
}
.opened {
  display: block;
}
.closed {
  display: none;
}

@media (max-width:600px) {
  .contact-window {
    width: 380px;
    padding: 10px 13px;
    right: 80px;
    bottom: 15px;
}
  .contact-status-text {
    font-size: .9rem;
  }

  .contact-window .btn-arrow-white {
    font-size: .8rem;
    padding: 9px 16px;
    margin-left: 10px;
}
}