body {
  margin: 0px;
  font-family: 'Satoshi', sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
ul,
p
 {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.btn {
  padding: 13px 26px;
  cursor:pointer;
  border-radius: 38px;
  transition: .3s;
}

.btn-light {
  background: none;
  border: solid 2px var(--cor-5);
}

@media (max-width: 500px) {
  .container {
    max-width: 90vw;
  }
}