body {
  margin: 0px;
  font-family: 'Satoshi', sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
ul,
p
 {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.btn {
  padding: 13px 26px;
  cursor:pointer;
  border-radius: 38px;
  transition: .3s;
}

.btn-light {
  background: none;
  border: solid 2px var(--cor-5);
}


.btn-light:hover {
    border: solid 2px var(--cor-1);
  color: var(--cor-1) !important;
  transition: .3s;
  font-weight:500 ;
}

.btn-arrow-blue {
background-color: var(--cor-5);
border: none;
}

.btn-arrow-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-arrow-content li {
  display: flex;
}
.btn-arrow-blue:hover {
  background-color: var(--cor-6);
  transition: .3s;
}

@media (max-width: 500px) {
  .container {
    max-width: 90vw;
  }
}

@media (min-width: 1560px) {
  .container {
    max-width: 70vw;
  }
}