.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  margin-left: 10px;
  width: 150px;
}


.logo img {
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 5px;
}

.nav-item {
  margin-left: 5px;
}

.nav-item a {
  font-size: 1rem;
}

.nav-item button {
  color: var(--cor-5);
  font-size: 1rem;
}

.burger-menu-btn,
.close-menu-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.3rem;
}

.burger-menu-btn {
  color: var(--cor-5);
}

.close-menu-btn {
  color: var(--cor-7);
}

.burger-menu-btn:hover,
.close-menu-btn:hover {
  color: var(--cor-3);
  transition: .3s;
}
 
.burger-menu-icon {
  display: none;
}

.mobile-nav-wrapper.show {
  display: block;
}

.close-menu-icon {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 8px;
}

.mobile-nav-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 2;
  height: 100vh;
  max-width: 250px;
  width: 100%;
  background-color: var(--cor-5);
  transition: .3s ease-in;
}

.mobile-nav {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.mobile-nav-item{
  position: relative;
  margin-bottom: 10px;
  z-index: 5;
  color: var(--cor-7);
}

@media (max-width: 700px) {

  .logo {
    width: 130px;
  }

  .nav-list {
    display: none;
  }

  .burger-menu-icon {
    display: block;
  }
}

@media (max-width: 450px) {
  .mobile-nav-wrapper {
    max-width: 200px;
  }

  .logo {
    width: 100px;
  }
} 