
.intro {
  padding-top: 10px;
}

.intro-wrapper {
  margin-top: 54px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

.intro-title  {
  font-size: 5.3rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'IvyPresto Display';
  font-weight: 100;
  line-height: .85;
  letter-spacing: -5px;
}

.intro-title span {
  font-family:'Satoshi';
  font-weight: 500;
}


.intro-subtitle {
  max-width: 60ch;
}

.intro-subtitle h4 {
text-align: center;
font-size: 1.25rem;
line-height: 1.5;
font-weight: 500;
margin-bottom: 40px;
}

.intro-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}


@media (max-width: 1024px) {
  .intro-title {
    font-size: 4rem;
    line-height: .9;
  }
  .intro-subtitle h4 {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .intro-title {
    font-size: 3.5rem;
    line-height: 1;
  }

  .intro-subtitle h4 {
    font-size: .875rem;
  }
  .intro-btn button {
    font-size: .8rem;
    padding: 10px 20px;
  }
}

@media (max-width: 550px) {
  .intro-title {
    font-size: 2.7rem;
    letter-spacing: -3px;
    line-height: 1.1;
  }
  .intro-subtitle {
    font-size: .725rem;
  }
    .intro-btn button {
    font-size: .7rem;
    padding: 9px 18px;
  }

}

@media (max-width:450px) {
    .intro-title {
    font-size: 2rem;
    letter-spacing: -1px;
  }
  .intro-subtitle {
    font-size: .625rem;
  }
    .intro-btn button {
    font-size: .625rem;
    padding: 8px 16px;
  }
}